@import '../../../css/color.scss';

.navlogo{
        .logo{
            height: 35px;
            width: 35px;
    }
    
    .logo-name{
        color: $logo-grey;
        font-size: 21px;
        padding: 5px;
    }
}
.user{
    i{
        color: $logo-grey;
    }
    .md-36{
        font-size: 36px;
    }

    .logo-name{
        color: $logo-grey;
        font-size: 21px;
        padding: 5px;
    }
}

