
.navlogo{
        .logo{
            height: 35px;
            width: 35px;
    }
    
    .logo-name{
        color:#5f6368;
        font-size: 21px;
        padding: 5px;
    }
}
.user{
    .logo{
        border-radius: 25px;
        height: 35px;
        width: 35px;
    }

    .logo-name{
        color:#5f6368;
        font-size: 21px;
        padding: 5px;
    }
}

