
  <nav class="navbar navbar-expand-lg navbar-light bg-light mat-elevation-z1">
    <div class="d-flex align-item navlogo">
      <img src="../../assets/nav-logo.png" class="logo navbar-brand">
      <span class="logo-name"> Keep-It</span>
    </div>
  
    <div class="my-2 my-lg-0  ml-auto user">

      <a class="nav-link d-flex align-items-center" [matMenuTriggerFor]="menu" role="button" data-toggle="dropdown" style="cursor: pointer;" >
        <div class="d-flex align-items-center pr-3 pl-2">
          <i class="material-icons md-36">account_circle</i>
          <span class="logo-name">{{user | titlecase}}</span>
          <i class="material-icons">keyboard_arrow_down</i>
        </div>
      </a>

      <mat-menu #menu="matMenu">
        <button mat-menu-item><a style="padding: 0;" class="dropdown-item d-flex align-items-center" (click)="changePassword()">
          <i class="material-icons pr-3"> security</i>
          Change password
        </a></button>
        <button mat-menu-item><a style="padding: 0;" class="dropdown-item d-flex align-items-center" (click)="logOut()">
          <i class="material-icons pr-3"> exit_to_app</i>
          Log Out
        </a></button>
      </mat-menu>

    </div>
  </nav>