
<h1 mat-dialog-title>Change your password</h1>

<div mat-dialog-content class="d-flex flex-column justify-content-between align-items-center">
    <mat-form-field style="width: 100%;" >
      <input matInput [(ngModel)]="currentPassword" placeholder="Current Password">
    </mat-form-field>
    <mat-form-field style="width: 100%;" >
      <input matInput [(ngModel)]="newPassword" placeholder="New Password">
    </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancel</button>
  <button mat-raised-button color="primary" (click)="save()">Save</button>
</div>
