@import '../../../css/color.scss';

.hover-cursor {
    cursor: pointer;
}
.date {
    font-size: 70%;
    color: $icon-grey;
}
.material-icons.md-18 {
font-size: 18px !important;
height: 18px !important;
width: 18px !important;
}
.material-icons.md-24 {
font-size: 24px !important;
height: 24px !important;
width: 24px !important;
}
.material-icons.md-36 {
font-size: 36px !important;
height: 36px !important;
width: 36px !important;
}
.material-icons.md-48 {
font-size: 48px !important;
height: 48px !important;
width: 48px !important;
}
.add-button{
    height: fit-content;
    width: fit-content;
}

.input-group i{ 
    color: $icon-grey;
}
li{
    .note:hover {
        background-color: $hover-grey;
        transition : 0.5s;
        .delete-icon i{
            opacity: 1;
            transition: all 0.4s ease-in-out;
        }
    }
    .note{
        border-radius: 25px;
        padding: .75rem 1rem;
        transition: 0.5s;
        .delete-icon i{
            opacity: 0;
            transition: all 0.2s ease-in-out;
        }
    }
    .ruler{
        border: 0.5px solid #4242;
    }
}