<div class="main-div container-fluid">
    <mat-card class="parent-form">
      <h1 class="mat-headline registerHeading pb-2">Keep-It</h1>
      <img class="logo" src="../../assets/nav-logo.png"/>
      <form class="register-form" [formGroup]="registerForm">
          <mat-form-field appearance="outline" class="email-input">
            <mat-label>Name</mat-label>
            <input matInput type="text" formControlName="name" class="form-control" required>
          </mat-form-field>
          <mat-form-field appearance="outline" class="email-input">
            <mat-label>Email Id</mat-label>
            <input matInput type="email" formControlName="email" class="form-control" required>
          </mat-form-field>
          <mat-form-field appearance="outline" class="email-input mb-3">
            <mat-label>Passowrd</mat-label>
            <input matInput type="password" class="form-control" formControlName="password" required>
          </mat-form-field>
        <button class="register-button " mat-raised-button color="primary" (click)="register(registerForm.value)">register</button>
        <button [routerLink]="['/login']" class="ml-2 signup-button" mat-raised-button (click)="login()">Login</button>
      </form>
    </mat-card> 
  </div>
  
  